Package: com.hiren.iAnnounce
Name: iAnnounce
Depends: mobilesubstrate, gsc.telephony, firmware (>= 4.0), gsc.armv7, preferenceloader
Version: 2.2.0
Architecture: iphoneos-arm
Icon: /Library/PreferenceLoader/Preferences/iAnnounce-Icon@2x.png
Description: Announces incomming calls. Can customize announce options under the Settings app. Follow me on http://www.twitter.com/patelhiren
Maintainer: Hiren Patel
Author: Hiren Patel <inathulal@gmail.com>
Section: Tweaks
